SERVER_PORT=8081
DB_URL=jdbc:mysql://localhost:3306/toasted_vr_db?useSSL=false&serverTimezone=UTC
DB_USERNAME=root
DB_PASSWORD=your_database_password
DB_DRIVER_CLASS_NAME=com.mysql.cj.jdbc.Driver
JPA_DATABASE_PLATFORM=org.hibernate.dialect.MySQLDialect
JPA_DDL_AUTO=update
JPA_SHOW_SQL=true
APP_CORS_ALLOWED_ORIGINS=http://localhost:3000
MAIL_ENABLED=true
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=your_gmail@gmail.com
MAIL_PASSWORD=your_16_character_app_password
MAIL_FROM=your_gmail@gmail.com
MAIL_SMTP_AUTH=true
MAIL_SMTP_STARTTLS_ENABLE=true
VERIFICATION_CODE_LENGTH=6
VERIFICATION_CODE_EXPIRATION_MINUTES=2
